<!-- {% extends 'base.html' %}

{% block content %}
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.old_password.label_tag }}<br>
      {{ form.old_password }}
    </div>
    <div class="form-group">
      {{ form.new_password1.label_tag }}<br>
      <div class="input-group">
        {{ form.new_password1 }}
        <div class="">
          <span class="input-group-text" onclick="togglePasswordVisibility('id_new_password1')">
            <i class="fa fa-eye" id="togglePassword1"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <li>Your password can’t be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>Your password can’t be entirely numeric.</li>
    </div>
    <div class="form-group">
      {{ form.new_password2.label_tag }}<br>
      <div class="input-group">
        {{ form.new_password2 }}
        <div class="">
          <span class="input-group-text" onclick="togglePasswordVisibility('id_new_password2')">
            <i class="fa fa-eye" id="togglePassword2"></i>
          </span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
  </form>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="passwordChangeToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
      </div>
    </div>
  </div>

  <script>
    document.getElementById('passwordChangeForm').addEventListener('submit', function(event) {
      event.preventDefault(); 
      const form = this;
      const formData = new FormData(form);

      fetch(form.action, {
        method: form.method,
        body: formData,
        headers: {
          'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
      })
      .then(response => response.json())
      .then(data => {
        const toastElement = document.getElementById('passwordChangeToast');
        const toastBody = toastElement.querySelector('.toast-body');
        if (data.success) {
          toastBody.textContent = 'Your password was successfully changed.';
          toastElement.classList.add('text-bg-success');
        } else {
          toastBody.textContent = 'Your password could not be changed.';
          toastElement.classList.add('text-bg-danger');
        }
        const toast = new bootstrap.Toast(toastElement);
        toast.show();
      })
      .catch(error => console.error('Error:', error));
    });


    function togglePasswordVisibility(inputId) {
      const passwordInput = document.getElementById(inputId);
      const toggleIcon = passwordInput.nextElementSibling.querySelector('i');

      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleIcon.classList.remove('fa-eye-slash');
        toggleIcon.classList.add('fa-eye');
      } else {
        passwordInput.type = 'password';
        toggleIcon.classList.remove('fa-eye');
        toggleIcon.classList.add('fa-eye-slash');
      }
    }
  </script>

{% endblock %} -->