
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .card:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>
<div class="container mt-5">
    <div class="row">
        
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card text-white bg-warning">
                <div class="d-flex align-items-center p-3">
                    <img src="{% static '\Icons\graduate-student-icon-graduation-gown-male-student_423491-3.jpg' %}" width="70" height="70">
                </div>
                <div class="card-body">
                    <h4>Total Students:{{total_students}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card text-white bg-danger">
                <div class="d-flex align-items-center p-3">
                    <img src="{% static 'Icons/businessman_180644.png' %}" width="70" height="70">
                </div>
                <div class="card-body">
                    <h4>Total Staffs: {{ total_staff }}</h4>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card text-white bg-primary">
                <div class="d-flex align-items-center p-3">
                    <img src="{% static '\Icons\invoice1.png' %}"  width="70" height="70">
                </div>
                <div class="card-body">
                    <h4>Invoic Record: {{ total_invoice }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



